<!DOCTYPE html>
<html>
  <head>
    <title>Generate TestCases</title>
  </head>
  <body>
    <h1>Generate Testcases</h1>
    <form action="{{ url_for('create') }}" method="post">
      <label for="summary">Summary:</label>
      <input type="text" name="summary" id="summary" required><br><br>
      <label for="description">Description:</label>
      <textarea type="text" name="description" id="description" required></textarea><br><br>
      <button type="submit">Generate TestCase</button>
    </form>
  </body>
</html>